.chartBox{
    display: inline-flex;
    background-color: #222020;
    border: 1px solid rgb(0, 95, 0);
    position: relative; 
    padding: 1%;
    margin:1%;
}
.chart{
    padding: 1%;
}
.body{
    background-color: rgb(66, 66, 66);
}
