.chartBox{
    display: inline-flex;
    background-color: #222020;
    border: 1px solid rgb(0, 0, 0);
    position: relative; 
    padding: .5%;
    margin:.5%;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.chartBox:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
.chart{
    padding: 1%;
}
.textchart{
    margin: 10%;
}
.textTitle{
    margin: 5%;
    padding: 20%;
    width:100%;
    font-size: 15px;
    color: rgb(90, 90, 90);
    font-family: Arial, Helvetica, sans-serif;

}
.textData{
    margin: 20%;
    padding: 20%;
    font-size: 40px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.body{
    background-color: rgb(66, 66, 66);
}
.title{
    font-size: 60px;
    width:100%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30vw;
    color: rgb(173, 173, 173);

}
