.chartBox{
    display:block;
    background-color: #222020;
    border: 0px solid rgb(0, 0, 0);
    position: absolute; 
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.chartBox:hover {
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
  }
  
.chart{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 5px;

}
.chartTitle{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(251, 251, 251);
    border-width: 1px;
    font-size: 100%;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    z-index: -1;
}
.textData{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.body{
    color: rgb(173, 173, 173);
    background-color: rgb(66, 66, 66);
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    display: flex;
    position: absolute; 
    font-size: 300%;
    padding:10px;
    margin:5px;

    background-color: #222020;
    align-items: center;
    border-radius: 5px;
}
